<ul>
    <li class="pure-menu-selected"><a href="/">Home</a></li>
    <li class=""><a href="/about/">About</a></li>
    <li class=""><a href="/archives/">Archives</a></li>
    <li class=""><a href="http://akshayp.github.io/">Code</a></li>
    <li class=""><a href="/geektool-scripts/">Geektool Scripts</a></li>
    <li class=""><a href="/perl/">Perl</a></li>
    <li class=""><a href="/portfolio/">Portfolio</a></li>
</ul>