<div class="about">
    <img src="/img/profile.png" alt="Akshay Patel"/>
    <p>My name is Akshay Patel. I'm a <del>Frontend</del> Full Stack Software Engineer in Los Angeles and I work at Yahoo! Sports.</p>
    <a href="http://www.akshayp.com/about/" class="more-link">Read more &raquo;</a>
    <div class="social">
        <a class="email" href="mailto:akshayrpatel@gmail.com" title="E-Mail" target="_blank" rel="me">&#62223;</a>
        <a class="facebook" href="http://www.facebook.com/akshayp" title="Facebook" target="_blank" rel="me">&#62222;</a>
        <a class="flickr" href="http://www.flickr.com/photos/akshayp" title="Flickr" target="_blank" rel="me">&#62211;</a>
        <a class="linkedin" href="http://www.linkedin.com/in/akshayp" title="LinkedIn" target="_blank" rel="me">&#62232;</a>
        <a class="twitter" href="http://twitter.com/akshayp" title="Twitter" target="_blank" rel="me">&#62217;</a>
    </div>
</div>