<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Unstructured Scribbles | Something about Everything</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/combo?vendor/pure/pure-min.css&/css/style.css" type="text/css">
    <link rel="index" title="Unstructured Scribbles | Something about Everything" href="http://www.akshayp.com">
</head>
<body>
<div id="doc" class="pure-g-r">
    <a href="#menu" id="menuLink" class="pure-menu-link">
        <img width="20" title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAYAQAAAAC6w2LjAAAAAnRSTlMAAHaTzTgAAAAXSURBVHgBY/zPwMDwEQvJAAL4SVroBQCTQhdZIO+EIAAAAABJRU5ErkJggg==" alt="Menu toggle"/>
    </a>
    <div id="menu" class="pure-u">
        <div class="pure-menu pure-menu-open">
            <h1><a href="/" class="pure-menu-heading">Unstructured Scribbles</a></h1>
            {{> nav}}
            {{> profile}}
        </div>
    </div>
    <div id="main" class="pure-u {{#if portfolio}}portfolio{{/if}}">
        {{{body}}}
    </div>
    <div id="ft" class="pure-u-1">
        {{> footer}}
    </div>
</div>
<script src="/combo?vendor/html5shiv/html5.js&vendor/html5shiv/html5.js&vendor/prettify/prettify.js&/js/site.js"></script>
</body>
</html>