<div class="post">
    <img src="/img/404.jpg" class="fourohfour-error-image" alt="404 error">
    <div class="fourohfour-error">
        <p>Looks like the interwebs are broken. You might have hit an obsolete or broken link. If you want some light reading, <a href="/archives" class="archive-link">view the entire archive &raquo;</a></p>
    </div>
</div>