<div class="post">

<h2><a href="/geektool-scripts/" title="Geektool Scripts">Geektool Scripts</a></h2><h3>System Statistics:</h3>
<script src="http://gist.github.com/620075.js?file=GeektoolScripts.sh"></script>
<h3>Display IP Address bash Script</h3>
<script src="http://gist.github.com/620092.js?file=ip.sh"></script>
<h3>Date,Time Day, Hour Month etc:</h3>
<pre>Time : date +%l:%M
Date: date +%d
Day: date +%A
Month: date +%B
AM/PM : date +"%p"

<a rel="attachment wp-att-536" href="http://www.akshayp.com/code/picture-1/"><img class="alignnone size-full wp-image-536" title="Geektool Display" src="http://www.akshayp.com/wp-content/uploads/2009/01/picture-1.jpg" alt="Geektool Display" width="182" height="107" /></a></pre>

</div>