<div class="post">

<h2><a href="/perl/" title="Perl">Perl</a></h2><h3>Battery Status</h3>
<script src="https://gist.github.com/akshayp/620103.js"></script>

<h3>Scrubbing two lists</h3> 
<script src="https://gist.github.com/akshayp/620105.js"></script>

</div>